/* Global styles */
html, body {
	margin: 0;
	font-family: Arial, sans-serif;
	height: 100%;
}

/* Wrapper styles */
.wrapper {
	display: flex;
	
}

/* Navigation styles */
nav {
	flex-direction: column;
	background-color: #333;
	color: #fff;
	flex-basis: 20%;
	padding: 20px;
	height: 100%;
	justify-content: center;
  	align-items: center;
}

nav ul {
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	height: 100%;
	margin-bottom: 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px;
}

nav ul li a:hover {
	background-color: #fff;
	color: #333;
}

nav ul li.active a {
	background-color: #fff;
	color: #333;
}

/* Content styles */
.content {
	flex-basis: 80%;
	padding: 20px;
}

.content h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.content p {
	font-size: 18px;
	line-height: 1.5;
}

/* Specific content styles */
#home-content {
	display: block;
}

#about-content {
	display: block;
}

#portfolio-content {
	display: block;
}

#blog-content {
	display: block;
}

#contact-content {
	display: block;
}

.highlight {
	background-color: #ff0;
}